@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1e1d2b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1e1d2b;
    color: white;
    position: relative;
  }
  
  /* responsive */
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav h2.logo {
    font-weight: bold;
    font-size: xx-large;
    color:#ff702a;
    margin-left: 50px;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
  }
  
  ul.nav-links {
    display: flex;
  }
  
  /* responsive */
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link:hover {
    border: 2px solid green;
    color: #ffffff;
  }
  
  li.nav-link.auth {
    border: 2px solid #ffffff;
    border-radius: 1rem;
  }
  
  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }
/*header*/
.container1{
    height: 890px;
}
.inicio{
    position: relative;
    top: 250px;
    left: 350px;
    padding: 5px;
    width: 600px;
}
.imagen1{
    width: 450px;
    height: 450px;
    left: 1000px;
    bottom: 100px;
    position: relative;
    margin-top: auto;
}
.tittle{
    color: #ff702a;
    font-size: 5rem;
}

.descripcion{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.boton{
    margin-top: 50px;
    border: 2px solid #ff702a;
    background-color: #ff702a;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.boton:hover{
    background-color: #fc5603;
    color: #d6d4d2;
    border: #fc5603;
}

/*about*/

.text{
    color: #ff702a;
    font-size: x-large;
}

.subtittle{
    color: white;
    font-size: xxx-large;
}

.parrafo{
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
    font-size: larger;
}
.About{
    position: relative;
    top: 190px;
    left: 1000px;
    padding: 5px;
    width: 600px;
}
.imagen2{
    width: 450px;
    height: 450px;
    left: 350px;
    bottom: 150px;
    position: relative;
    margin-top: auto;
}

.text2{
    text-align: center;
}
.subtittle2{
    color: #ff702a;
    font-size: x-large;
}
.tittle2{
    color: white;
    font-size: xxx-large;
}
.food1{
    border: 2px solid #ffefe8;
    border-radius: 4px;
    width: 350px;
    background-color: #ffefe8;
    position: relative;
    left: 165px;
    top: 60px;
    padding-top: 5px;
}
.food2{
    border: 2px solid #ffefe8;
    border-radius: 4px;
    width: 350px;
    background-color: #ffefe8;
    position: relative;
    left: 720px;
    bottom: 279px;
    padding-top: 5px;
}
.food3{
    border: 2px solid #ffefe8;
    border-radius: 4px;
    width: 350px;
    background-color: #ffefe8;
    position: relative;
    left: 1300px;
    bottom: 619px;
    padding-top: 5px;
}
.contact{
    background-color: #ffefe8;
    padding: 50px;
    text-align: center;
    height: 350px;
    margin-left: 90px;
    margin-right: 90px;
}
.desc{
    text-align: center;
}
.precio{
    color: #ff702a;
}

.titulo{
    color: #ff702a; 
}

.img4{
    width: 300px;
    margin-left: 50px;
}
.s1{
    position: relative;
    left: 165px;
    top: 60px;
    width: 400px;
}
.s2{
    position: relative;
    left: 700px;
    bottom: 350px;
    width: 400px;
}
.s3{
    position: relative;
    left: 1250px;
    bottom: 759px;
    width: 400px;
}
.text4{
    color: white;
}

.service{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 50px;
}

.boton2{
    margin-top: 50px;
    border: 2px solid #ff702a;
    background-color: #ff702a;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

.boton2:hover{
    background-color: #fc5603;
    color: #d6d4d2;
    border: #fc5603;
}

.footer{
    height: 100px;
    margin-bottom: 0px;
}

.menLinks{
    position: relative;
    width: 300px;
    left: 200px;
    bottom: 400px;

}
.OurService{
    position: relative;
    width: 300px;
    left: 600px;
    bottom: 580px;
}

.Information{
    position: relative;
    width: 300px;
    left: 1000px;
    bottom: 750px;
}
.ContactUs{
    position: relative;
    width: 300px;
    left: 1400px;
    bottom: 900px;
}

.textFooter{
    color: white;
    text-align: justify;
}
.subFooter:hover{
    color: #ff702a;
}
.subFooter{
    color: white;
    border-bottom: 2px solid  #ff702a;
}
.icono{
    background-color: #ff702a;
    margin-top: 10px ;
    margin-left: 10px;
    width: 40px;
    border-radius: 50px;
}

.icono:hover{
    background-color:#fc5603;
}